.content{
    padding: 3.5rem 0 2rem;
}

.content__container{
    position: relative;
    row-gap:2rem;
}

.content__img{
    width: 300px;
    justify-self: center;
}

.content__description{
    text-align: center;
    margin-bottom: ;
}